{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur le site de vente de livre Symbook</h1>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam explicabo unde esse nobis. Necessitatibus, nobis debitis? Cumque ipsa sunt fuga repellat error! Voluptatem eos nam eum architecto, repudiandae nobis natus!
Perspiciatis rerum optio incidunt quasi, mollitia, impedit molestiae minima sunt hic provident alias consectetur! Unde praesentium architecto perspiciatis, expedita ex repudiandae voluptatem harum, pariatur amet assumenda deleniti ipsum consequatur. Enim!
Ad sequi ducimus repudiandae? Numquam perspiciatis possimus dolores necessitatibus quo iusto nostrum veritatis rerum aspernatur molestiae dolor labore animi inventore consequatur mollitia fuga tempora repudiandae sed itaque commodi, ipsa voluptas?
Commodi minima ipsum alias dolorum quis excepturi natus facere eaque quaerat ducimus labore laudantium, inventore cum suscipit quibusdam, laboriosam nulla obcaecati eos. Sequi, natus iusto commodi laborum in eveniet cumque.
Nostrum nisi et, placeat similique alias blanditiis quibusdam quo consequatur quaerat at, minus ea eum beatae quasi atque facere esse possimus in asperiores rem accusamus quisquam temporibus! Libero, in dolor.
Voluptas, esse minus. Modi saepe ab architecto, officiis, eius nostrum assumenda, suscipit delectus soluta obcaecati explicabo eos doloribus reiciendis eum velit blanditiis! Odit nostrum, placeat quas nemo in earum hic!
Beatae, ad. Magnam ipsum aut sint voluptas rem porro exercitationem et ullam adipisci labore hic cumque officiis est molestias consectetur, ratione alias commodi. Vel voluptates omnis, ut est asperiores nemo.
Soluta laudantium fuga tenetur, praesentium ratione excepturi. Quis consequatur dolore eligendi perferendis illum culpa quidem eos aliquid voluptates, cupiditate optio animi nesciunt accusamus, dolorem tenetur recusandae corporis error beatae dicta.
Vitae, veritatis accusamus deleniti molestiae architecto consequuntur doloremque? Qui, blanditiis consequuntur culpa consequatur deserunt incidunt nam corporis optio quibusdam iusto corrupti magni totam unde excepturi fuga quos laudantium, quisquam commodi.
Libero, doloribus suscipit. Sit ducimus, unde quae fuga accusamus ex. Quidem nesciunt quibusdam eum similique doloribus asperiores sunt fugit voluptas molestias dicta repudiandae, animi maxime laborum pariatur officia explicabo incidunt?
Odio impedit nam ut eos a optio assumenda voluptatem voluptate nobis itaque natus beatae reiciendis aliquid commodi est ab nemo labore quisquam sed doloribus repellendus, eaque fuga! Excepturi, quam quis?
Culpa, placeat. Nesciunt, laboriosam! Corporis alias repellat perspiciatis fugiat repellendus odit ipsa eius neque mollitia ullam earum, ipsam modi temporibus quas consequatur quasi corrupti illum quidem error beatae aliquam? Nam!
Quo saepe ex soluta, eos, amet ad cum praesentium doloremque cupiditate unde delectus numquam iste, excepturi error vitae quod voluptas nesciunt. Dicta, ad amet nemo iste placeat nam sunt dolores.
Repellat facilis tempora molestias quisquam cupiditate eum dolorem excepturi sequi, cumque sit minima consequatur vero perspiciatis labore facere enim numquam perferendis pariatur commodi dolor. Repellat corporis voluptas dolorum similique suscipit!
{% endblock %}
